@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins, serif;
}

.container-fluid-style{
    background-color: #E5E1DA;
}

.row-style{
    row-gap: 75px;
}

.row-card-style{
    display: flex;
    justify-content: center;
    row-gap: 75px;
}

.col-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.large-text{
    user-select: none;
    font-size: 52px;
    font-weight: bold; /* color: #212529; */
}

.text{
    user-select: none;
    font-size: 20px;
}

.about-img{
    width: 100%;
    border-radius: 10px;
}

.card-style{
    user-select: none;
    transition: transform 0.3s;
}

.card-style:hover{
    transform: scale(1.05);
}


.card-img-style{
    height: 25vh;
    border-bottom: 1px solid #dee2e6;;
}